<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
		
	<section class="layout-content" layout:fragment="corpo">	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							id="list-spring-boot-list" data-toggle="list" href="#spring-boot"
							role="tab" aria-controls="spring-boot">SOW</a> <a
							class="list-group-item list-group-item-action" id="list-sts-list"
							data-toggle="list" href="#sts" role="tab" aria-controls="sts">Sobre a SOW</a> 
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="spring-boot"
							role="tabpanel" aria-labelledby="list-spring-boot-list">
							<a href="http://www.sow.inf.br">SOW</a>
						É uma empresa voltada a consultoria de TI
						</div>
						<div class="tab-pane fade" id="sts" role="tabpanel"
							aria-labelledby="list-sts-list">
							 <a href="http://www.sow.inf.br">Sobre a empresa</a> voltada para  consultoria de TI
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>		
</body>
</html>